<div class="col">
<div class="d-flex justify-content-center align-items-center">
  <div class="row">
  <label class="text-light">City name:</label>
    <div class="d-flex justify-content-center align-items-center">
      <input type="text" class="form-control" placeholder="Enter city name..." [(ngModel)]="cityName">
      <button class="btn btn-primary" (click)="Validation()"><i class="fa-solid fa-magnifying-glass"></i>
      </button> 
    </div> 
  
  </div>
  
  
  <br>
  <div class ="row p-5">
    <label class="text-light ps-0">Select unit:</label>

    <select class=" form-select d-flex justify-content-center align-content-center" [(ngModel)]="selectedUnit">
      <option *ngFor="let unit of Units" [value]="unit">{{unit}}</option>
    </select>
    
    
  </div>

</div>
<div class [hidden]="!error" >
  <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
    <i class="bi bi-exclamation-triangle"></i>
    <b class="ms-2">Error: {{messageError.message}}</b>
  </div>
</div>
</div>

